<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>校园课外娱乐网首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="../../static/bootstrap/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/bootstrap/css/style.css" id="theme-styles">

    
</head>
<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="" id="logo">
                    <span style="color: #3c485d; font-size: 30px;">校园课外娱乐网</span>
                </a>

                <nav class="pull-right">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            <li>
                                <a href="/user/index">首页</a>
                            </li>
                            <li>
                                <a href="/user/bookhome">读书</a>
                            </li>
                            <li>
                                <a href="/user/moviehome">电影</a>
                            </li>
                            <li>
                                <a href="/user/musichome">音乐</a>
                            </li>
                            <li>
                                <a href="/user/activityhome">户外活动</a>
                            </li>
                            <li>
                                <a href="/user/userinfohome">个人管理</a>
                            </li>
                        </ul>
                    </div>
                </nav>        

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">

                <div class="clean-breadcrumb">
                    <a href="/user/index">首页</a>
                </div>

                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">
                        <input class="searchfield" id="searchbox" type="text" placeholder="读书 电影 音乐 活动">
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">

            <div class="row">
                <div class="col-md-8 blog-main">

                    <!--表单开始-->
                    <div id="form">

                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="activityname" class="col-sm-2 control-label">活动名</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" readonly="readonly"  id="activityname" name="name" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"  id="name" name="name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">电话</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" id="submitBtn" class="btn btn-default">提交报名表</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--表单结束-->


                    <!--书籍推荐 第一行-->
                    <div id="" class="row">

                        <div class="page-header">
                            <h3>新品书籍推荐</h3>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>
                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                    </div>

                    <!--书籍推荐 第二行-->
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                    </div>


                    <!--电影推荐 第一行-->
                     <div class="row">

                         <div class="page-header">
                             <h3>新品电影推荐</h3>
                         </div>

                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                    </div>

                    <!--电影推荐 第二行-->
                     <div class="row">
                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                         <div class="col-md-3 col-sm-3">
                             <article class=" blog-teaser">
                                 <header>
                                     <img src="" alt="">
                                     <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                     <span class="meta">评分：<span class="meta">3</span></span>
                                     <hr>
                                 </header>

                             </article>
                         </div>

                    </div>

                    <!--新品音乐推荐 第一行-->
                    <div class="row">
                        <div class="page-header">
                            <h3>新品音乐推荐</h3>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                    </div>

                    <!--新品音乐推荐 第二行-->
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="" alt="">
                                    <h4><a href=""><span class="meta">肖申克的救赎</span></a></h4>
                                    <span class="meta">评分：<span class="meta">3</span></span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                    </div>


                    <div class="paging">



                        <a href="#" class="older">返回顶部</i></a>
                    </div>
                </div>
                <aside class="col-md-4 blog-aside">
                    
                    <div class="aside-widget">
                        <header>
                            <h3>用户</h3>
                        </header>
                        <div class="body" id="showuserinfo">

                            <table class="bookinfo">
                                <tr>
                                    <td rowspan ="2">
                                        <div style="border: silver 5px solid;">
                                            <img src="../../static/prc/headprc/user1.jpg" height="100" width="100"/>
                                        </div>
                                    </td>
                                    <td>
                                        <ul style="list-style-type: none;">
                                            <li>用户：<span>use1</span></li>
                                            <li>昵称：<span>大头绿豆</span></li>
                                            <li>性别：<span>男</span></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>


                            <!--<ul>
                                <li>
                                    <div class="body"><a href="/user/userlogin">点击前往登陆</a></div>
                                </li>

                            </ul>-->

                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>我的</h3>
                        </header>
                        <div class="body">
                            <ul>
                                <li><a href="">我的评论</a></li>
                                <li><a href="">我发起的活动</a></li>
                                <li><a href="">我参与的互动</a></li>
                            </ul>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>

    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>关于</h3>

                       <p>这是一个集书籍、电影、音乐和户外活动的四个主题的校园课外娱乐网站，用于丰富学生的课外生活。</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i>校园网站</h3>
                        <ul class="clean-list">
                            <li><a href="https://www.zhku.edu.cn/" target="_blank">仲恺农业工程学院官网</a></li>
                            <li><a href="http://jw.zhku.edu.cn/" target="_blank">仲恺农业工程学院教务网</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>联系方式</h3>
                        <p>邮箱：2606201863@qq.com</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>
    
    <script src="../../static/bootstrap/js/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/bootstrap/js/modernizr.js"></script>

</body>
</html>